/*
.center1{ 
    display: block;
    margin: 0px;
    color: black;
    width: 50%;
    height: 650px;

} 
*/
.center2{ 
    display: block;
    color: black;
    width: 90%;
    height: 300px;
    margin-left:auto;
    margin-right:auto;
    /*border-radius:10px;*/
    opacity:0.6;
}
body {
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

.Login-img{
    position: relative; display: inline-block;
    margin-left:auto;
    margin-right:auto;

}
h2{
    text-align:center;
    display: inline-block;
    
}
.login{
position:relative;
height:100%;
text-align:center;
width: 100%;
background-image:url('Newbackground.png') ;
background-position:center;
background-repeat:no-repeat;
background-size:350px 350px ;
margin-top: 350px;
padding-bottom:20px;
}
.login:before{
    content:"";
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
form{
    display: inline-block;
}