.header {
    background-color: #f0eeee8f;
    text-align: center;
    padding: 20px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 332px 332px 332px 332px 332px 332px;
    background-color: #444444;
    padding: 10px;
    column-gap: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
.box {
    width:275px ;
    height:275px ;
    margin:10px ;
    padding:12px;
    border:8px solid black ;
    background-image: url('water.png');
    background-size: cover;
    width:275px ;
    height:275px ;
    background-position: center; 
} 

.box1 {
    width:275px ;
    height:275px ;
    margin:10px ;
    padding:12px;
    border:8px solid black ;
    background-image: url('mooop.png');
    background-size: cover;
    width:275px ;
    height:275px ;
    background-position: center;  
} 
.box2 {
    width:275px ;
    height:275px ;
    margin:10px ;
    padding:12px;
    border:8px solid black ;
    background-image: url('eye.png');
    background-size: cover;
    width:275px ;
    height:275px ;
    background-position: center;    
} 
.box3 {
    width:275px ;
    height:275px ;
    margin:10px ;
    padding:12px;
    border:8px solid black ;
    background-image: url('baldme.png');
    background-size: cover;
    width:275px ;
    height:275px ;
    background-position: center;    
} 
.box4 {
    width:275px ;
    height:275px ;
    margin:10px ;
    padding:12px;
    border:8px solid black ;
    background-image: url('death.png');
    background-size: cover;
    width:275px ;
    height:275px ;
    background-position: center;    
} 
.box5 {
    width:275px ;
    height:275px ;
    margin:10px ;
    padding:12px;
    border:8px solid black ;
    background-image: url('try.png');
    background-size: cover;
    width:275px ;
    height:275px ;
    background-position: center;    
} 
.box6 {
    width:275px ;
    height:275px ;
    margin:10px ;
    padding:12px;
    border:8px solid black ;
    background-image: url('jellyfish.png');
    background-size: cover;
    width:275px ;
    height:275px ;
    background-position: center; 
} 
.column {
    float: left;
    width: 33px;
}
.row:after {
content:"";
display: table;
clear: both;
}
/* 
.container {
    width: 300px;
    height: 300px;
    background-color: solid black;
    display: flex;
    align-items: center;
}

.container img {
    width: 300px;
    height: 300px;
    padding:0px;
    border:8px solid black ;
    margin:10px ;
}
